<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<include href="views/includes/navbar.html"></include>
<div class="container-fluid">
    <div>
        <img class="img-fluid d-block mx-auto" src="img/404.svg">
    </div>
    <div class="text-center">
        <h1>Whoops! Looks like you're lost :/</h1>
        <p>
            If you can see this page, then you are trying to access content that doesn't exist.
        </p>
    </div>
</div>
<script src="vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>